{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/place/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建场所
            </a>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                场所列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>总人数</th>
                    <th>已入座人数</th>
                    <th>所属校区</th>
                    <th>开馆时间</th>
                    <th>闭馆时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.place }}</td>
                        <td>{{ obj.place_capacity }}</td>
                        <td>{{ obj.place_occupied }}</td>
                        <td>{{ obj.get_campus_display }}</td>
                        <td>{{ obj.start_time }}</td>
                        <td>{{ obj.end_time }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/place/{{ obj.id }}/edit/">编辑</a>
                            <a class="btn btn-danger btn-xs" href="/place/delete/?nid={{ obj.id }}">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
